<div class="container">
    <div class="logo">
        <!-- <img alt="logo"> -->
    </div>
    <div class="texto">
        <p>Durante muchos años en nuestro barrio no se han llevado a cabo nuevas infraestructuras ni se han renovado
            las existentes, que se han ido deteriorando con el paso de los años.</p>
        <br>
        <span>Para mejorar esta situación</span>

        <br>
        <span> ¡NECESITAMOS TU AYUDA!</span>
    </div>

    <div class="logoguia">

    </div>

    <div class="guia">
        <a href="https://www.jerez.es/fileadmin/Documentos/Distrito_Centro/GUIA_CENTRO_A5_HIPERVINCULOS_compressed.pdf"
            target="_blank">Guía distrito centro</a>
    </div>

    <div class="targets">
        <span>Nuestros objetivos</span>
    </div>

    <div class="card-area1">
        <mat-card class="card">
            <mat-card-title class="card-title"> Crear unidad entre las personas residentes en
                la zona.
            </mat-card-title>
            <img mat-card-image src="../../../assets/img/target1.png" alt="Crear">
        </mat-card>
    </div>

    <div class="card-area2">
        <mat-card class="card">
            <mat-card-title class="card-title">Representar a las personas residentes en la zona y defender los
                intereses generales de las
                mismas.
            </mat-card-title>
            <img mat-card-image src="../../../assets/img/representar.png" alt="Representar">
        </mat-card>
    </div>
    <div class="card-area3">
        <mat-card class="card">
            <mat-card-title class="card-title">Informar y apoyar a a las personas residentes en la zona en
                cuestiones de interés general.
            </mat-card-title>
            <img mat-card-image src="../../../assets/img/informar.png" alt="Informar">
        </mat-card>
    </div>
    <div class="card-area4">
        <mat-card class="card">
            <mat-card-title class="card-title">Intentar que se mejoren las infraestructuras del barrio.
            </mat-card-title>
            <img mat-card-image src="../../../assets/img/mejora.png" alt="Mejora">
        </mat-card>
    </div>
    <div class="card-area5">
        <mat-card class="card">
            <mat-card-title class="card-title">Exigir al Ayuntamiento la mejora de la seguridad de nuestra zona, la
                limpieza de las
                calles y acerados del barrio.</mat-card-title>
            <img mat-card-image src="../../../assets/img/exigir.png" alt="Seguridad">
        </mat-card>
    </div>
    <div class="card-area6">
        <mat-card class="card">
            <mat-card-title class="card-title">Realizar actividades culturales, infantiles, cursos, talleres...,
                que den vida a la zona.</mat-card-title>
            <img mat-card-image src="../../../assets/img/actividades.png" alt="Cultura">
        </mat-card>
    </div>

    <div class="contact">
        <span>Nuestras formas de contacto</span>
    </div>


    <div class="info">
        <mat-card class="info-card">
            <a href="https://www.facebook.com/laalbarizuela" class="contactos" target="_blank"
                rel="nofollow">Facebook</a>
            <img class="info-img" src="../../../assets/img/facebook1.png" alt="Facebook">
        </mat-card>

        <mat-card class="info-card">
            <a href="mailto:info@albarizuela.es" class="contactos"> info@albarizuela.es</a>
            <img class="info-img" src="../../../assets/img/email.png" alt="mail">
        </mat-card>

        <mat-card class="info-card">
            <a href="tel:+34 609536800" class="contactos"> 609536800</a>
            <img class="info-img" src="../../../assets/img/movil.png" alt="Movil">
        </mat-card>
    </div>

</div>