<div class="container">
    <div class="logo">
        <img src="../../../assets/img/Logo.png" alt="">
    </div>
    <div class="text">
        <h1>Durante muchos años en nuestro barrio no</h1>
        <h1>se han llevado a cabo nuevas</h1>
        <h1>infraestructuras ni se han renovado las </h1>
        <h1>existentes, que se han ido deteriorando con</h1>
        <h1>el paso de los años.</h1>
        <br>
        <h1>Para mejorar esta situación</h1>
        <h1> ¡NECESITAMOS TU AYUDA!</h1>
        <h1></h1>

    </div>
    <div class="photo1">
        <img src="../../../assets/img/bizcocheros.jpg" alt="">
    </div>
    <div class="photo2">
        <img src="../../../assets/img/teatroVillmarta.jpg" alt="">
    </div>
    <div class="photo3">
        <img src="../../../assets/img/arcos.jpg" alt="">
    </div>
    <div class="photo4">
        <img src="../../../assets/img/sanAndres.jpg" alt="">
    </div>
    <div class="targets">
        <h1>Nuestros principales objetivos son:</h1>
        <br>
        <h1>Crear unidad entre los vecinos.</h1>
        <h1>Representar a los vecinos y defender los intereses generales de los mismos. </h1>
        <h1>Informar y apoyar a los vecinos en cuestiones de interés general.</h1>
        <h1>Intentar que se mejoren las infraestructuras del barrio.</h1>
        <h1>Exigir al Ayuntamiento la mejora de la seguridad y limpieza de las calles y aceras del barrio.</h1>
        <h1>Realizar actividades culturales, infantiles, cursos, talleres..., que den vida a la zona.</h1>
    </div>
    <div class="info1">
        <h1>Nuestro Facebook</h1>
        <a href="https://www.facebook.com/laalbarizuela" target="_blank" rel="nofollow">Nuestro Facebook</a>
    </div>
    <div class="info2"></div>
    <div class="info3"></div>
    <div class="info4"></div>
</div>