.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px 140px 500px 500px 140px 500px;
    gap: 20px 80px;
    grid-auto-flow: row;
    grid-template-areas:
        "logo text text"
        "targets targets targets "
        "photo1 photo2 photo3"
        "photo4 photo5 photo6"
        "contact contact contact "
        "info1 info2 info3 ";
}

.logo {
    grid-area: logo;
    margin: auto;
}

.text {
    grid-area: text;
    width: 100%;
    height: 300px;
    margin: auto;
    padding: 30px;
    background-color: #2d678a;
    color: rgb(206, 219, 231);
    font-size: 40px;
    align-content: center;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.photo1 {
    grid-area: photo1;
    justify-self: center;
    object-fit: contain;
}

.photo2 {
    grid-area: photo2;
    justify-self: center;
    object-fit: contain;
}

.photo3 {
    grid-area: photo3;
    justify-self: center;
}

.photo4 {
    grid-area: photo4;
    justify-self: center;
}

.photo5 {
    grid-area: photo5;
    justify-self: center;
}
.photo6 {
    grid-area: photo6;
    justify-self: center;
}
.targets {
    grid-area: targets;
    margin: auto;
    padding: 30px;
    // background-color: #0973b1;
    color: #2d678a;
    font-size: 62px;
    font-weight: bold;
}

.contact {
    grid-area: contact;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    // padding: 30px;
    // background-color: #0973b1;
    color: #2d678a;
    font-size: 62px;
    font-weight: bold;
}

.info1 {
    grid-area: info1;
    justify-self: center;
}
.info2 {
    grid-area: info2;
    justify-self: center;
}
.info3 {
    grid-area: info3;
    justify-self: center;
}

.contactos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}
