<nav class="navbar">

  <div class="navbar--brand">
    <a class="navbar--brand--logo" target="_blank" rel="nofollow"></a>
    <span class="navbar--brand--text">Asociación de vecinos La Albarizuela</span>
  </div>

  <div class="menu-button">
    <button routerLink="home">Inicio</button>
    <button routerLink="map">Mapa problemas</button>
    <button routerLink="table">Tabla problemas</button>
    <button routerLink="contenedores-bizcocheros">Contenedores Bizcocheros</button>
    <button routerLink="casas-ocupadas">Casas ocupadas ilegalmente</button>
  </div>

  <div *ngIf="router.url === '/home'" class="OCM-navbarFooter--homeEmpty"></div>
  <div *ngIf="router.url !== '/home'" class="OCM-navbarFooter--home">
    <a routerLink="/" class="logoHome"></a>

  </div>

</nav>