<div class="OCM-navbarFooter">

  <div class="OCM-navbarFooter--brand">
    <a href="https://ocmjerez.org" class="OCM-navbarFooter--brand--logo" target="_blank" rel="nofollow"></a>
    <span class="OCM-navbarFooter--brand--text">AVV La Albarizuela Ver 1.1.9</span>
  </div>
  <!-- 
  <div class="OCM-navbarFooter--rrss">
    <a href="https://www.facebook.com/laalbarizuela" class="logoFacebook" target="_blank" rel="nofollow"></a>
  </div>

  <div class="OCM-navbarFooter--mail">
    <span>Email:&nbsp; </span>
    <a href="mailto:info@albarizuela.es"> info@albarizuela.es</a>
  </div> -->

</div>